---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import Rarrow from "../../components/Rarrow.astro";
import LinkListItem from "../../components/LinkListItem.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
	return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
<div class="lg:px-12 px-4 text-white">
<h1 class="text-3xl lg:text-6xl pb-8 pt-4 
            text-slate-400 underline decoration-teal-500"
            >Posts tagged with <span class="text-orange-300">#{tag}</span></h1>
<ul>
{posts.map((p) => <LinkListItem post={p} />)}
</ul>
</div>
</BaseLayout>
