---
import Social from "../components/Social.astro";
---

<footer class="bg-white dark:bg-gray-900 flex mt-8 gap-2">
  <p class="text-black dark:text-white">
    Checkout my other projects on <Social
      platform="github"
      username="idjotherwise"
    />!
  </p>
</footer>
