---
const {post} = Astro.props;
import Rarrow from "../components/Rarrow.astro";
---
<li>
  <Rarrow />
  <a class="underline decoration-teal-400 
            pl-4" href=`${post.url}`>
        {post.frontmatter.title}
  </a>
</li>